<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
    <link rel="stylesheet" href="/public/assets/style.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Login</h1>
        <form class="form" action="/usuarios/login" method="POST">
            <div class="email">
                <label for="email" name="email">E-mail</label>
                <input type="text" id="email" name="email" placeholder="Digite seu email"/>
            </div>
            <div class="passwordInput">
                <label for="passwordInput" name="password">Senha</label>
                <input type="password" id="passwordInput" name="passwordInput" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" placeholder="Digite sua senha"/>
            </div>
            <div class="button">
                <input type="submit" name="submit" id="submit" value="Entrar">
            </div>
        </form>
        <a href="/usuarios/register">Criar uma conta</a>
    </div>
</body>
</html>
